#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_MUTE      /* encoder knop (drukken) = mute */
                &kp W           /* switch 1 = W */
                &kp SPACE       /* switch 2 = Space */
                &kp UP          /* switch 3 = Pijl omhoog */
            >;

            /* encoder draaien = volume omhoog/omlaag (werkt in GD) */
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
